.hidden {
    display: none;
}

div#root {

    h1 {
        color: red;
    }

}

.timeline-time {

    input[type="text"] {

        font-size: large;

        &:disabled {
            border-color: transparent;
            background: transparent;
        }

    }
}

.timeline-wrapper {

    .form-event {
        display: flex;
        flex-direction: column;
    }

}

body {
    padding: 3px;
}

header {
    display: flex;
    flex-direction: row;

    & > .title {
        flex-grow: 1;
        margin-top: 0;

        input {
            color: rgba(51, 51, 51, 0.52);;

            &:not(:hover):not(:focus) {
                border-color: transparent;
            }
        }
    }

    & > .toolbar {
        display: flex;
        flex-direction: row;

        .login-button,
        & > button {
            margin-right: 0.5em;
        }
    }

    .user-dropdown {

        .user-avatar {
            height: 32px;
        }
    }
}
