div#root {

    h1 {
        color: red;
    }

}

.timeline-time {

    input[type="text"] {

        font-size: large;

        &:disabled {
            border-color: transparent;
            background: transparent;
        }

    }
}

.timeline-wrapper {

    .form-event {
        display: flex;
        flex-direction: column;
    }

}
