root: true

env:
    browser: true
    es6: true
    node: true
    jest: true
    jquery: true

extends:
    - airbnb
    - plugin:jest/recommended
    - plugin:react/recommended

plugins:
    - import
    - jest
    - react

parser: babel-eslint

parserOptions:
    ecmaVersion: 2018
    sourceType: module
    ecmaFeatures:
        jsx: true

settings:
    react:
        version: "16.1"

rules:
    brace-style:
        - error
        - stroustrup
        - allowSingleLine: false
    indent:
        - error
        - 4

    no-use-before-define:
        - off

    prefer-destructuring:
        - off

    key-spacing:
        - error
        - align: colon
          beforeColon: true

    # ====================
    # Plugin: Import
    # ====================
    import/no-internal-modules:
        - error
        - allow:
              - history/createBrowserHistory
              - uuid/v4
              - mz/fs

    import/prefer-default-export:
        - off

    # ====================
    # Plugin: react
    # ====================
    react/destructuring-assignment:
        - off

    react/jsx-filename-extension:
        - off

    react/jsx-indent:
        - error
        - 4

    react/jsx-indent-props:
        - error
        - 4

    jsx-a11y/label-has-for:
        - off

    jsx-a11y/label-has-associated-control:
        - error
        - controlComponents:
            - TextEditor
 
