.hidden {
    display: none;
}

div#root {

    & > div {
        display: flex;
        flex-direction: column;
    }

    h1 {
        color: red;
    }

}

.timeline-time {

    input {

        font-size: large;

        &:disabled {
            border-color: transparent;
            background: transparent;
        }

    }
}

.timeline-wrapper {

    .add-event {

        float: left;
        width: 100%;
        margin-left: 1rem;

        .form-event {
            display: flex;
            flex-direction: column;

            .form-event_actions {
                display: flex;
                flex-direction: row;

                input {
                    margin-left: 0.5rem;
                }
            }
        }
    }

}

body {
    padding: 3px;
}

header {
    display: flex;
    flex-direction: row;

    & > .title {
        flex-grow: 1;
        margin-top: 0;
        font-size: 2rem;

        input {
            color: rgba(255, 255, 255, 0.6);
            background-color: transparent;

            &:not(:hover):not(:focus) {
                border-color: transparent;
            }
        }
    }

    & > .toolbar {
        display: flex;
        flex-direction: row;
        height: 36px;

        .login-button,
        & > button {
            margin-right: 0.5em;
        }
    }

    .user-dropdown {

        margin-right: 0.5em;

        .user-button {
            padding-top: 0;
            padding-bottom: 0;
        }

        .user-avatar {
            height: 26px;
        }
    }
}

.timeline-wrapper .timeline-time input[type="text"] {
    background        : rgba(0, 69, 121, 0.65);
    -moz-border-radius: 10px;
    border-radius     : 10px;
    color             : rgba(255, 255, 255, 0.85);
    display           : inline-block;
    letter-spacing    : 0;
    padding           : 10px 10px 5px 10px;
    text-align        : center;
}
