.hidden {
    display: none;
}

div#root {

    & > div {
        display: flex;
        flex-direction: column;
    }

    h1 {
        color: red;
    }

}

.timeline-time {

    input {

        font-size: large;

        &:disabled {
            border-color: transparent;
            background: transparent;
        }

    }
}

.timeline-wrapper {

    .add-event {

        float: left;
        width: 100%;
        margin-left: 1rem;

        .form-event {
            display: flex;
            flex-direction: column;

            .form-event_actions {
                display: flex;
                flex-direction: row;

                input {
                    margin-left: 0.5rem;
                }
            }
        }
    }

}

body {
    padding: 3px;
}

header {
    display: flex;
    flex-direction: row;

    & > .title {
        flex-grow: 1;
        margin-top: 0;
        font-size: 2rem;

        input {
            color: rgba(255, 255, 255, 0.6);
            background-color: transparent;

            &:not(:hover):not(:focus) {
                border-color: transparent;
            }
        }
    }

    & > .toolbar {
        display: flex;
        flex-direction: row;
        height: 36px;

        .login-button,
        & > button {
            margin-right: 0.5em;
        }
    }

    .user-dropdown {

        margin-right: 0.5em;

        .user-button {
            padding-top: 0;
            padding-bottom: 0;
        }

        .user-avatar {
            height: 26px;
        }
    }
}

.timeline-time input[type="text"] {
    background        : rgba(0, 69, 121, 0.65);
    -moz-border-radius: 10px;
    border-radius     : 10px;
    color             : rgba(255, 255, 255, 0.85);
    display           : inline-block;
    letter-spacing    : 0;
    padding           : 10px 10px 5px 10px;
    text-align        : center;

    &:focus {
        border: 1px solid rgba(194, 203, 210, 0.62);
        outline: 0;
    }

}

.editable-text {

    &:not(:hover) .rename-button {
        color: transparent;
    }

    .rename-button {
        font-size: 0.6em;
        color: rgba(255, 255, 255, 0.34);
        transition: color 0.5s;
    }

}

.timeline-event {
    display: flex;
    flex-direction: row;

    &:not(:hover) .edit-button {
        opacity: 0;
    }

    &:hover .edit-button:not(:hover) {
        opacity: 0.5;
    }

    .edit-button {
        font-size: 0.6em;
        margin-left: 0.5em;
        opacity: 1;
        cursor: pointer;
    }

    & > form {

        button {
            cursor: pointer;
        }

        input {
            background: rgba(0, 69, 121, 0.65);
            border: 1px solid #0275d8;
            color: white;
            padding-left: 0.2em;
            border-bottom-left-radius: 7px;
            border-top-left-radius: 7px;

            &:focus {
                border: 1px solid #0275d8;
                outline: 0;
            }
        }
    }

}

dd.timeline-event-content > p {
    width: 100%;
    text-align: justify;

    max-height: 10em;
    overflow-y: auto;

    font-size: x-large;
}

.description-form {
    textarea {
        width: 100%;
        font-size: larger;
    }

    .action-buttons {
        button {
            margin-right: 1em;
        }
    }
}

.timeline-series {
    font-size: small;
}
